<%= form_with(model: business) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
        <% business.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :Business_name %>
    <%= form.text_field :b_name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Available_users %><br/>
    <%= collection_select(:users, :id, User.all, :id, :name, {}, { :multiple => true }) %>  
  </div>
 
<div class="field">
    <% form.label "Available Users in Checkbox form" %><br />
      <% form.collection_check_boxes :user_ids, User.all, :id, :name do |b| %>
       <div class="collection-check-box">
          <% b.check_box %>
          <% b.label %>
      </div>
    <% end %>
  </div>

 <div class="form-group">

 </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
